<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<link rel="stylesheet" type="text/css" href="A.css">
<body>

	<section id="contact">
<div class="contact-container container">
<div class="contact-image">
<img src="restraunt-image.jpg">
    </div>

    <div class="form-container">
    <h2> Inscription</h2>
 {{form_start(form)}}

 {{form_row(form.name)}}



 {{form_row(form.email)}}



 {{form_row(form.phone)}}

 {{form_row(form.password)}}

 {{form_row(form.confirm_password)}}



	
{{form_end(form)}}

    </div>

</div>
</section>

<footer id="footer">
 <h2>Prestige  restauration  &copy; tous droits  reserves</h2> 
</footer>
</body>
</html>














































































